#city-finder {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100%;
}

.fail-icon {
  animation-name: fail;
  animation-duration: 0.3s;
  transform: translate(-5px,40px);
}


/* The animation code */
@keyframes fail {
  0% {
    transform: translate(-3px,40px);
  }
  10% {
    transform: translate(-5px,38px);
  }
  20% {
    transform: translate(-7px,40px);
  }
  30% {
    transform: translate(-5px,42px);
  }
  40% {
    transform: translate(-3px,40px);
  }
  50% {
    transform: translate(-5px,38px);
  }
  60% {
    transform: translate(-7px,40px);
  }
  10% {
    transform: translate(-5px,42px);
  }
  80% {
    transform: translate(-3px,40px);
  }
  90% {
    transform: translate(-5px,38px);
  }
  100% {
    transform: translate(-7px,40px);
  }
}